html {
    background-color: burlywood;
}
h1 {
    color: dimgrey;
    text-align: center !important;
    display: block;
    horiz-align: center;
    vertical-align: middle;
    line-height: 0.5;
    padding: -30px !important;
}
h2 {
    color: dimgrey;
    text-align: center !important;
    display: block;
    horiz-align: center;
    vertical-align: middle;
    line-height: 0.5;
    padding: 0;
}
div {
    align-content: center;
    background-color: aliceblue;
}